@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Ranga:wght@400;700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ffedfa4b;
  --color-primary-dark: #0e010f;
}

* {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.ranga-font {
  font-family: "Ranga", cursive;
  font-style: normal;
}

li {
  list-style: none;
}
